<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{url_for('static',filename='main.css')}}">
  </head>
    <title>Google Login</title>
    <style>
        .button {
              background-color: #f44336;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
        }
    </style>
<body>
  <center><p>You have been Logged Out !!</p></center>
    <center><a class="button" href="/login">Login Again</a></center>
</body>
</html>